<section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Meet the Team</h2>
        <h3 class="section-subheading text-muted">Our experienced professionals are here for you.</h3>
      </div>
      <div class="d-flex flex-row justify-content-around align-items-start mt-5 flex-wrap">
        <div class="team-member text-center mx-3">
          <span class="fa-stack fa-4x mb-3">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-user-tie fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="team-heading">Sergio Velasquez Sr.</h4>
          <p class="text-muted">CEO & Co-Founder</p>
        </div>
        <div class="team-member text-center mx-3">
          <span class="fa-stack fa-4x mb-3">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-user-cog fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="team-heading">Sergio Velasquez Jr.</h4>
          <p class="text-muted">Co-Founder & Customer Relations</p>
        </div>
      </div>
    </div>
</section>