<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #e6e6e6;">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand text-dark" href="/#home" (click)="navigateToFragment($event, 'home')">
      <img src="/logo-simple.webp" alt="SV HVAC logo" style="height: 30px; margin-right: 10px;" />
      SV HVAC Services
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-label="Toggle navigation" aria-controls="navbarResponsive" [attr.aria-expanded]="isMenuOpen">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg"
             [ngClass]="togglerIconClass"
             class="navbar-toggler-icon-svg"
             width="30" height="30" fill="#000000" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.5 12a.5.5 0 0 1 0-1h13a.5.5 0 0 1 0 1h-13zm0-4a.5.5 0 0 1 0-1h13a.5.5 0 0 1 0 1h-13zm0-4a.5.5 0 0 1 0-1h13a.5.5 0 0 1 0 1h-13z"/>
        </svg>
      </span>
    </button>

    <!-- Menu -->
    <div [class.show]="isMenuOpen" class="navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0 align-items-lg-center">
        <!-- Public nav -->
        <ng-container *ngIf="!isAdminNav; else adminLinks">
          <li class="nav-item">
            <a class="nav-link text-dark fw-bold" href="/#home" (click)="navigateToFragment($event, 'home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fw-bold" href="/#services" (click)="navigateToFragment($event, 'services')">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fw-bold" href="/#about" (click)="navigateToFragment($event, 'about')">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fw-bold" href="/#team" (click)="navigateToFragment($event, 'team')">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fw-bold" href="/#contact" (click)="navigateToFragment($event, 'contact')">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-brand fw-bold nav-link-alt" routerLink="/maintenance-plan" (click)="closeNavbar()">Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-brand fw-bold nav-link-alt" routerLink="/education" (click)="closeNavbar()">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-brand fw-bold nav-link-alt" routerLink="/blog" (click)="closeNavbar()">Blog</a>
          </li>
        </ng-container>

        <!-- Admin nav -->
        <ng-template #adminLinks>
          <li class="nav-item">
            <a class="nav-link text-dark fw-bold" href="/#home" (click)="navigateToFragment($event, 'home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fw-bold" routerLink="/admin" (click)="closeNavbar()">Leads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fw-bold" routerLink="/estimate" (click)="closeNavbar()">Estimate</a>
          </li>
          <li class="nav-item me-lg-2">
            <a class="nav-link text-dark fw-bold" routerLink="/admin/customize" (click)="closeNavbar()">Customize</a>
          </li>
        </ng-template>

        <!-- Call button (outlined, themed, slight separation) -->
        <li *ngIf="!isAdminNav" class="nav-item ms-lg-3">
          <a class="btn btn-sm nav-call-btn" [href]="telHref" (click)="closeNavbar()">
            <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor" style="margin-right:6px;">
              <path d="M6.62 10.79a15.05 15.05 0 006.59 6.59l2.2-2.2a1 1 0 011.01-.24c1.12.37 2.33.57 3.58.57a1 1 0 011 1V21a1 1 0 01-1 1C10.85 22 2 13.15 2 2a1 1 0 011-1h3.5a1 1 0 011 1c0 1.25.2 2.46.57 3.58a1 1 0 01-.24 1.01l-2.2 2.2z"/>
            </svg>
            {{ displayPhone }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
