<header class="masthead" [ngStyle]="heroStyle" id="home" style="padding: 8rem 0;">
  <div class="container text-center">
    <div class="masthead-subheading text-white-50">
      {{ settings.value.home.subhead }}
    </div>
    <div class="masthead-heading text-uppercase text-white" style="font-weight:800;">
      {{ settings.value.home.headline }}
    </div>
    <a class="btn btn-primary btn-xl text-uppercase" routerLink="/" fragment="contact">
      {{ settings.value.home.ctaText }}
    </a>
  </div>
</header>