.masthead-subheading {
    margin-bottom: 5rem !important; // more space below headline
  }
  
  .masthead-heading {
    margin-bottom: 8rem !important; // more space before the buttons
  }
  
  .masthead .btn {
    padding: 1em 2.25rem; // a touch larger for breathing room
  }