.service-icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.bg-brand { background: #6C91C2; }
.bg-danger { background: #E64545; }

